[submodule "tests/Catch2"]
	path = tests/Catch2
	url = https://github.com/catchorg/Catch2
[submodule "tests/coveralls-cmake"]
	path = tests/coveralls-cmake
	url = https://github.com/JoakimSoderberg/coveralls-cmake
